flow.json
[{"id":"a9b42a8f.0f7d1","type":"tab","label":"Write Data to File","disabled":false,"info":""},{"id":"410c39dd.a7dd8","type":"inject","z":"a9b42a8f.0f7d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["15d18f40.104d79"]]},{"id":"15d18f40.104d79","type":"function","z":"a9b42a8f.0f7d1","name":"","func":"msg.payload = \n{\n    \"Array 2\": {\n        \"3\":\"Item 4\",\n        \"4\":\"Item 5\",\n        \"5\":\"Item 6\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[["c7536806.cdbb9"]]},{"id":"c7536806.cdbb9","type":"file","z":"a9b42a8f.0f7d1","name":"","filename":"/home/pi/logs/test.log","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":540,"y":120,"wires":[["54b68921.b56588"]]},{"id":"372def3c.7c4d","type":"file in","z":"a9b42a8f.0f7d1","name":"","filename":"/home/pi/logs/test.log","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":540,"y":180,"wires":[["790798a6.a2265"]]},{"id":"54b68921.b56588","type":"debug","z":"a9b42a8f.0f7d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":120,"wires":[]},{"id":"c28bbe48.db533","type":"inject","z":"a9b42a8f.0f7d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["372def3c.7c4d"]]},{"id":"dd813604.cfde58","type":"debug","z":"a9b42a8f.0f7d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":180,"wires":[]},{"id":"790798a6.a2265","type":"json","z":"a9b42a8f.0f7d1","name":"","property":"payload","action":"obj","pretty":false,"x":730,"y":180,"wires":[["dd813604.cfde58"]]},{"id":"1be888e8.410687","type":"tail","z":"a9b42a8f.0f7d1","name":"","filetype":"text","split":"","filename":"/home/pi/logs/test.log","inputs":0,"x":540,"y":240,"wires":[["b56ad85.b3331a8"]]},{"id":"b56ad85.b3331a8","type":"json","z":"a9b42a8f.0f7d1","name":"","property":"payload","action":"obj","pretty":false,"x":730,"y":240,"wires":[["7bd0429a.2335fc"]]},{"id":"7bd0429a.2335fc","type":"debug","z":"a9b42a8f.0f7d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":240,"wires":[]},{"id":"722082ca.73a20c","type":"inject","z":"a9b42a8f.0f7d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["8095af21.9f479"]]},{"id":"8095af21.9f479","type":"function","z":"a9b42a8f.0f7d1","name":"","func":"msg.payload = \n{\n    \"Array 1\": {\n        \"0\":\"Item 1\",\n        \"1\":\"Item 2\",\n        \"2\":\"Item 3\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":80,"wires":[["c7536806.cdbb9"]]}]