flow.json
[{"id":"8f7e775c.9f1cd","type":"tab","label":"NAB","disabled":false,"info":""},{"id":"a6cc1b7b.0374","type":"tab","label":"Messaging","disabled":false,"info":""},{"id":"f938eca2.765108","type":"tab","label":"Globals","disabled":false,"info":""},{"id":"481c553e.91f8ec","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"67ad19d0.ff6528","type":"subflow","name":"DataReq to DataHub","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"1a7e4c10.bff5f4"}]}],"out":[],"env":[]},{"id":"9a13651b.5ce038","type":"subflow","name":"Client Settings","info":"","category":"","in":[],"out":[],"env":[]},{"id":"f515726.417781","type":"ui_tab","z":"","name":"Node Red with Pixotope - Advanced Example","icon":"dashboard","disabled":false,"hidden":false},{"id":"47208fc4.e2b55","type":"ui_group","z":"","name":"Data Hub Connection","tab":"f515726.417781","order":1,"disp":true,"width":"6","collapse":false},{"id":"2141980e.f8295","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#8766df","baseFont":"Tahoma,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#8766df","edited":true},"page-titlebar-backgroundColor":{"value":"#8766df","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#b9a5ec","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#8766df","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"41b82ca6.cc0a1c","type":"ui_group","z":"","name":"Call Function","tab":"f515726.417781","order":2,"disp":true,"width":"6","collapse":false},{"id":"de9460de.755368","type":"ui_group","z":"","name":"Set Data","tab":"f515726.417781","order":3,"disp":true,"width":"6","collapse":false},{"id":"8a66cfbd.7e2ee8","type":"ui_spacer","name":"spacer","group":"de9460de.755368","order":3,"width":"0","height":"0"},{"id":"fbf3ee70.a2ecc8","type":"protobuf-file","z":"481c553e.91f8ec","protopath":"C:\\Users\\User\\.node-red\\lib\\flows\\messages.proto"},{"id":"3ae3e4ad.0732a4","type":"protobuf-file","z":"8f7e775c.9f1cd","protopath":"C:\\Users\\User\\.node-red\\lib\\flows\\messages.proto"},{"id":"4af23801.98e3e","type":"udp out","z":"67ad19d0.ff6528","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"7098","base64":false,"multicast":"false","x":790,"y":80,"wires":[]},{"id":"9985f08e.3e06a8","type":"change","z":"67ad19d0.ff6528","name":"Set Data Hub Address","rules":[{"t":"set","p":"ip","pt":"msg","to":"dataHubIP","tot":"global"},{"t":"set","p":"port","pt":"msg","to":"5105","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":80,"wires":[["4af23801.98e3e"]]},{"id":"1a7e4c10.bff5f4","type":"change","z":"67ad19d0.ff6528","name":"Make DataReq","rules":[{"t":"set","p":"dataValue","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"DataReq\":{\"SenderData\":{\"ID\":\"NodeRedClient\",\"IP\":\"10.11.37.217\",\"Port\":7098,\"TimeStamp\":1553002173273},\"Data\":[{\"TimeStamp\":0,\"FieldName\":\"\",\"Type\":\"\",\"Data\":\"\",\"TimeCode\":\"0\"}],\"ClearBeforeSet\":false}}","tot":"json"},{"t":"set","p":"payload.DataReq.SenderData.ID","pt":"msg","to":"localName","tot":"global"},{"t":"set","p":"payload.DataReq.SenderData.IP","pt":"msg","to":"localIP","tot":"global"},{"t":"set","p":"payload.DataReq.SenderData.TimeStamp","pt":"msg","to":"timestamp","tot":"global"},{"t":"set","p":"payload.DataReq.Data[0].TimeStamp","pt":"msg","to":"timestamp","tot":"global"},{"t":"set","p":"payload.DataReq.Data[0].Type","pt":"msg","to":"string","tot":"str"},{"t":"set","p":"payload.DataReq.Data[0].FieldName","pt":"msg","to":"globalDataLabel","tot":"global"},{"t":"set","p":"payload.DataReq.Data[0].Data","pt":"msg","to":"dataValue","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["4701378b.318b18","f05551f.79f1f3"]]},{"id":"4701378b.318b18","type":"debug","z":"67ad19d0.ff6528","name":"Print DataReq","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":400,"y":120,"wires":[]},{"id":"4425018f.bc0438","type":"inject","z":"9a13651b.5ce038","name":"","repeat":"1","crontab":"","once":true,"onceDelay":"0.0","topic":"","payload":"","payloadType":"date","x":210,"y":120,"wires":[["40aae22e.16551c"]]},{"id":"40aae22e.16551c","type":"change","z":"9a13651b.5ce038","name":"","rules":[{"t":"set","p":"timestamp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":120,"wires":[["14357cdd.d3902b"]]},{"id":"8ad33dae.0ee42","type":"change","z":"9a13651b.5ce038","name":"","rules":[{"t":"set","p":"dataHubIP","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":200,"wires":[[]]},{"id":"50b5a9fa.af6918","type":"change","z":"9a13651b.5ce038","name":"","rules":[{"t":"set","p":"localIP","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":160,"wires":[[]]},{"id":"bfc9e4e8.e2f1d8","type":"inject","z":"9a13651b.5ce038","name":"Client Name","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"DemoClient","payloadType":"str","x":210,"y":80,"wires":[["c5eb91cd.b11b4"]]},{"id":"c5eb91cd.b11b4","type":"change","z":"9a13651b.5ce038","name":"","rules":[{"t":"set","p":"localName","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":80,"wires":[[]]},{"id":"81e74c42.160178","type":"change","z":"9a13651b.5ce038","name":"","rules":[{"t":"set","p":"globalDataLabel","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":240,"wires":[[]]},{"id":"d2d6d087.d97568","type":"inject","z":"9a13651b.5ce038","name":"Local IP","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"127.0.0.1","payloadType":"str","x":200,"y":160,"wires":[["50b5a9fa.af6918"]]},{"id":"49f946b0.b748e8","type":"inject","z":"9a13651b.5ce038","name":"DataHub IP","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"127.0.0.1","payloadType":"str","x":210,"y":200,"wires":[["8ad33dae.0ee42"]]},{"id":"65317699.e51d5","type":"inject","z":"9a13651b.5ce038","name":"DataLabel","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Tweet","payloadType":"str","x":210,"y":240,"wires":[["81e74c42.160178"]]},{"id":"14357cdd.d3902b","type":"change","z":"9a13651b.5ce038","name":"","rules":[{"t":"set","p":"allowTweets","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":120,"wires":[[]]},{"id":"7d0fc5b4.0c7f1c","type":"subflow:9a13651b.5ce038","z":"8f7e775c.9f1cd","name":"","env":[],"x":150,"y":60,"wires":[]},{"id":"2d0eb917.54daa6","type":"subflow:67ad19d0.ff6528","z":"8f7e775c.9f1cd","name":"","env":[],"x":650,"y":120,"wires":[]},{"id":"7f792a66.95f0d4","type":"change","z":"8f7e775c.9f1cd","name":"Test","rules":[{"t":"set","p":"globalDataLabel","pt":"global","to":"Test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":120,"wires":[["2d0eb917.54daa6"]]},{"id":"ce0ef600.8a2bd","type":"inject","z":"8f7e775c.9f1cd","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Test string","payloadType":"str","x":140,"y":120,"wires":[["8224a52e.e33f18"]]},{"id":"8224a52e.e33f18","type":"function","z":"8f7e775c.9f1cd","name":"Random float","func":"msg.payload = Math.random().toString();\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["7f792a66.95f0d4"]]},{"id":"5053c08c.ee75c8","type":"udp in","z":"a6cc1b7b.0374","name":"","iface":"","port":"7098","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":120,"y":120,"wires":[["25446a.9d92c396"]]},{"id":"6a68d01b.46f0b8","type":"debug","z":"a6cc1b7b.0374","name":"Print received message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":100,"wires":[]},{"id":"9fd14382.120e9","type":"ui_button","z":"a6cc1b7b.0374","name":"","group":"47208fc4.e2b55","order":4,"width":0,"height":0,"passthru":false,"label":"Handshake","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":420,"wires":[["e1ea74b5.61644"]]},{"id":"67aa1003.3b38c","type":"udp out","z":"a6cc1b7b.0374","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"7098","base64":false,"multicast":"false","x":1830,"y":820,"wires":[]},{"id":"e1ea74b5.61644","type":"change","z":"a6cc1b7b.0374","name":"Make HSReq","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"HSReq\":{\"SenderData\":{\"ID\":\"NodeRedClient\",\"IP\":\"10.11.37.217\",\"Port\":7098,\"TimeStamp\":1553002173273}}}","tot":"json"},{"t":"set","p":"payload.HSReq.SenderData.TimeStamp","pt":"msg","to":"timestamp","tot":"global"},{"t":"set","p":"payload.HSReq.SenderData.IP","pt":"msg","to":"localIP","tot":"global"},{"t":"set","p":"payload.HSReq.SenderData.ID","pt":"msg","to":"localName","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":420,"wires":[["58f45200.28d1d8","778feedc.bea84"]]},{"id":"778feedc.bea84","type":"debug","z":"a6cc1b7b.0374","name":"Print HSReq","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1450,"y":420,"wires":[]},{"id":"2a34aea7.186bf2","type":"ui_button","z":"a6cc1b7b.0374","name":"","group":"41b82ca6.cc0a1c","order":4,"width":0,"height":0,"passthru":false,"label":"Call function","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":500,"wires":[["44d44466.a4fdc4"]]},{"id":"44d44466.a4fdc4","type":"change","z":"a6cc1b7b.0374","name":"Make CmndReq","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"CmndReq\":{\"SenderData\":{\"ID\":\"NodeRedClient\",\"IP\":\"10.11.37.217\",\"Port\":7098,\"TimeStamp\":1553002173273},\"ReceiverID\":[\"TJCGWS040_Editor\"],\"Command\":{\"TimeStamp\":1553002173273,\"TimeCode\":\"Bob\",\"ReceiverID\":[\"TJCGWS040_Editor\"],\"Command\":\"CallFunction\",\"Arguments\":[\"Moon\",\"TestFunction\"]}}}","tot":"json"},{"t":"set","p":"payload.CmndReq.SenderData.TimeStamp","pt":"msg","to":"timestamp","tot":"global"},{"t":"set","p":"payload.CmndReq.Command.TimeStamp","pt":"msg","to":"timestamp","tot":"global"},{"t":"set","p":"payload.CmndReq.SenderData.IP","pt":"msg","to":"localIP","tot":"global"},{"t":"set","p":"payload.CmndReq.ReceiverID","pt":"msg","to":"editors","tot":"global"},{"t":"set","p":"payload.CmndReq.Command.ReceiverID","pt":"msg","to":"editors","tot":"global"},{"t":"set","p":"payload.CmndReq.Command.Arguments[0]","pt":"msg","to":"selectedActor","tot":"global"},{"t":"set","p":"payload.CmndReq.Command.Arguments[1]","pt":"msg","to":"selectedFunction","tot":"global"},{"t":"set","p":"payload.CmndReq.Command.Arguments[2]","pt":"msg","to":"functionArgument","tot":"global"},{"t":"set","p":"payload.CmndReq.SenderData.ID","pt":"msg","to":"localName","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":500,"wires":[["6480da9.42539a4","58f45200.28d1d8"]]},{"id":"6480da9.42539a4","type":"debug","z":"a6cc1b7b.0374","name":"Print CmndReq","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1460,"y":460,"wires":[]},{"id":"79fefcc.d40a504","type":"inject","z":"a6cc1b7b.0374","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":380,"wires":[["e1ea74b5.61644"]]},{"id":"e6f67ddb.b22c8","type":"inject","z":"a6cc1b7b.0374","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":460,"wires":[["44d44466.a4fdc4"]]},{"id":"aec6f01a.2fc478","type":"inject","z":"f938eca2.765108","name":"","repeat":"1","crontab":"","once":true,"onceDelay":"0.0","topic":"","payload":"","payloadType":"date","x":130,"y":140,"wires":[["b5db0c24.4ed6c8"]]},{"id":"b5db0c24.4ed6c8","type":"change","z":"f938eca2.765108","name":"","rules":[{"t":"set","p":"timestamp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":140,"wires":[[]]},{"id":"15fb71e4.1bf5d6","type":"ui_text_input","z":"f938eca2.765108","name":"Data Hub IP","label":"Data Hub IP","tooltip":"Defaults to 127.0.0.1","group":"47208fc4.e2b55","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":130,"y":320,"wires":[["6d9b47f7.1a3cd"]]},{"id":"33e0e63.2abd41a","type":"change","z":"f938eca2.765108","name":"","rules":[{"t":"set","p":"dataHubIP","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":320,"wires":[["b127b4d4.cba35"]]},{"id":"b0bfc4df.40ed6","type":"change","z":"a6cc1b7b.0374","name":"Set Data Hub Address","rules":[{"t":"set","p":"ip","pt":"msg","to":"dataHubIP","tot":"global"},{"t":"set","p":"port","pt":"msg","to":"5105","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":820,"wires":[["67aa1003.3b38c"]]},{"id":"b127b4d4.cba35","type":"debug","z":"f938eca2.765108","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":320,"wires":[]},{"id":"40da33b5.e9f544","type":"switch","z":"a6cc1b7b.0374","name":"Switch on message type","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"payload.HSRes","vt":"msg"},{"t":"cont","v":"payload.PingReq","vt":"msg"},{"t":"cont","v":"payload.SearchRes","vt":"msg"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":160,"wires":[["19972a17.234326"],["7db27a98.94ea84"],["5df37484.648014"]]},{"id":"19972a17.234326","type":"change","z":"a6cc1b7b.0374","name":"Make SearchReq","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"SearchReq\":{\"SenderData\":{\"ID\":\"NodeRedClient\",\"IP\":\"10.11.37.217\",\"Port\":7098,\"TimeStamp\":1553002173273},\"SearchString\":\"_Editor\",\"ReturnAddress\":false}}","tot":"json"},{"t":"set","p":"payload.SearchReq.SenderData.TimeStamp","pt":"msg","to":"timestamp","tot":"global"},{"t":"set","p":"payload.SearchReq.SenderData.IP","pt":"msg","to":"localIP","tot":"global"},{"t":"set","p":"payload.SearchReq.SenderData.ID","pt":"msg","to":"localName","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":140,"wires":[["58f45200.28d1d8","cb2c3d0.3d9eb4","772efd47.c32754"]]},{"id":"b2fb26cb.419c78","type":"ui_text_input","z":"f938eca2.765108","name":"Local IP","label":"Local IP","tooltip":"Defaults to 127.0.0.1","group":"47208fc4.e2b55","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":120,"y":280,"wires":[["5931f157.f334c"]]},{"id":"49e7a2d.92a795c","type":"change","z":"f938eca2.765108","name":"","rules":[{"t":"set","p":"localIP","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":280,"wires":[["3226f421.c7a8a4"]]},{"id":"3226f421.c7a8a4","type":"debug","z":"f938eca2.765108","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":280,"wires":[]},{"id":"7db27a98.94ea84","type":"switch","z":"a6cc1b7b.0374","name":"Does PingReq requests reply?","property":"payload.PingReq.RequestReply","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":180,"wires":[["26057a07.d70aee"]]},{"id":"5bcb0d55.02684c","type":"debug","z":"a6cc1b7b.0374","name":"Print editors list","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1460,"y":220,"wires":[]},{"id":"fcc8f96.0f05a08","type":"function","z":"a6cc1b7b.0374","name":"Save editors list","func":"var editors = msg.payload.SearchRes.SearchResults;\nvar editorsFlattened = [];\nfor (var i = 0; i < editors.length; i++) {\n    editorsFlattened.push(editors[i].ID);\n}\nmsg.payload = editorsFlattened;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":220,"wires":[["422be94a.4ba39"]]},{"id":"5df37484.648014","type":"switch","z":"a6cc1b7b.0374","name":"Does it contain search results?","property":"payload.SearchRes","propertyType":"msg","rules":[{"t":"cont","v":"payload.SearchRes.SearchResults","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":220,"wires":[["fcc8f96.0f05a08"]]},{"id":"422be94a.4ba39","type":"change","z":"a6cc1b7b.0374","name":"","rules":[{"t":"set","p":"editors","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":220,"wires":[["5bcb0d55.02684c","772efd47.c32754"]]},{"id":"26057a07.d70aee","type":"change","z":"a6cc1b7b.0374","name":"Make PingReq","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"PingReq\":{\"SenderData\":{\"ID\":\"NodeRedClient\",\"IP\":\"\",\"Port\":7098,\"TimeStamp\":0},\"RequestReply\":false}}","tot":"json"},{"t":"set","p":"payload.PingReq.SenderData.TimeStamp","pt":"msg","to":"timestamp","tot":"global"},{"t":"set","p":"payload.PingReq.SenderData.IP","pt":"msg","to":"localIP","tot":"global"},{"t":"set","p":"payload.PingReq.SenderData.ID","pt":"msg","to":"localName","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":180,"wires":[["25f2e6af.2746da","58f45200.28d1d8"]]},{"id":"25f2e6af.2746da","type":"debug","z":"a6cc1b7b.0374","name":"Print ping response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1470,"y":180,"wires":[]},{"id":"cb2c3d0.3d9eb4","type":"debug","z":"a6cc1b7b.0374","name":"Print search request","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1480,"y":140,"wires":[]},{"id":"1a6d2c3b.33590c","type":"ui_dropdown","z":"f938eca2.765108","name":"Actors","label":"Actor","tooltip":"Actors' list is hardcoded in the flow graph.","place":"Select","group":"41b82ca6.cc0a1c","order":1,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1010,"y":460,"wires":[["c4ee0ddb.745868"]]},{"id":"b3310995.8207b","type":"ui_dropdown","z":"f938eca2.765108","name":"Functions","label":"Function","tooltip":"Actors' list is hardcoded in the flow graph.","place":"Select","group":"41b82ca6.cc0a1c","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1020,"y":560,"wires":[["50c02498.65e424","53e74082.889f38"]]},{"id":"df1142cf.62c948","type":"inject","z":"f938eca2.765108","name":"Hardcoded Actors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[{\"Name\":\"Moon\",\"Functions\":[\"TestFunction\"]},{\"Name\":\"BP_SomeText_2\",\"Functions\":[\"PrintDebug\",\"SetText\"]}]","payloadType":"json","x":150,"y":460,"wires":[["cea30934.59581"]]},{"id":"bfe742e8.7564f8","type":"function","z":"f938eca2.765108","name":"Get list of actors","func":"var ActorsObjectsList = msg.payload;\nvar ActorsList = [];\nfor (var i = 0; i < ActorsObjectsList.length; i++) {\n    ActorsList.push(ActorsObjectsList[i].Name);\n}\nmsg.options = ActorsList;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":460,"wires":[["1a6d2c3b.33590c"]]},{"id":"18b5c4b7.153163","type":"function","z":"f938eca2.765108","name":"Get list of functions","func":"var actors = global.get(\"actors\");\nvar selectedActor = global.get(\"selectedActor\");\nvar functionsList = [];\nfor (var i = 0; i < actors.length; i++) {\n    if (actors[i].Name == selectedActor) {\n        functionsList = actors[i].Functions;\n    }\n}\nmsg.options = functionsList;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":560,"wires":[["b3310995.8207b"]]},{"id":"c4ee0ddb.745868","type":"change","z":"f938eca2.765108","name":"","rules":[{"t":"set","p":"selectedActor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":460,"wires":[["18b5c4b7.153163"]]},{"id":"cea30934.59581","type":"change","z":"f938eca2.765108","name":"","rules":[{"t":"set","p":"actors","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[["bfe742e8.7564f8"]]},{"id":"6b20a5e9.e1d85c","type":"inject","z":"f938eca2.765108","name":"Hardcoded Client Name","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"CustomClient","payloadType":"str","x":170,"y":60,"wires":[["da17c7be.1cad78"]]},{"id":"da17c7be.1cad78","type":"change","z":"f938eca2.765108","name":"","rules":[{"t":"set","p":"localName","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":60,"wires":[[]]},{"id":"50c02498.65e424","type":"change","z":"f938eca2.765108","name":"","rules":[{"t":"set","p":"selectedFunction","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":600,"wires":[[]]},{"id":"93e33a59.65ec98","type":"ui_text","z":"a6cc1b7b.0374","group":"47208fc4.e2b55","order":1,"width":0,"height":0,"name":"Connection Label","label":"Status: ","format":"{{msg.payload}}","layout":"row-spread","x":1710,"y":60,"wires":[]},{"id":"e27e8c2c.86c4f","type":"inject","z":"a6cc1b7b.0374","name":"Default connection label","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Not connected.","payloadType":"str","x":1470,"y":60,"wires":[["93e33a59.65ec98"]]},{"id":"f21bd8a.a7ef1a8","type":"ui_text_input","z":"f938eca2.765108","name":"Global Data Label","label":"Label","tooltip":"","group":"de9460de.755368","order":1,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"","x":150,"y":700,"wires":[["1e9d0b24.cfac0d"]]},{"id":"1e9d0b24.cfac0d","type":"change","z":"f938eca2.765108","name":"","rules":[{"t":"set","p":"globalDataLabel","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":700,"wires":[[]]},{"id":"45cfa20b.1897dc","type":"ui_text_input","z":"f938eca2.765108","name":"Global Data Value","label":"Value","tooltip":"","group":"de9460de.755368","order":2,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"","x":150,"y":760,"wires":[["6004c04d.d08dd"]]},{"id":"6004c04d.d08dd","type":"change","z":"f938eca2.765108","name":"","rules":[{"t":"set","p":"globalDataValue","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":760,"wires":[[]]},{"id":"aeb9bba4.135a48","type":"ui_button","z":"a6cc1b7b.0374","name":"Global Data Send","group":"de9460de.755368","order":4,"width":0,"height":0,"passthru":false,"label":"Send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":580,"wires":[["3b83e425.7885d4"]]},{"id":"d78af99d.654148","type":"inject","z":"a6cc1b7b.0374","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":540,"wires":[["3b83e425.7885d4"]]},{"id":"3b83e425.7885d4","type":"change","z":"a6cc1b7b.0374","name":"Make DataReq","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"DataReq\":{\"SenderData\":{\"ID\":\"NodeRedClient\",\"IP\":\"10.11.37.217\",\"Port\":7098,\"TimeStamp\":1553002173273},\"Data\":[{\"TimeStamp\":0,\"FieldName\":\"\",\"Type\":\"\",\"Data\":\"\",\"TimeCode\":\"0\"}],\"ClearBeforeSet\":false}}","tot":"json"},{"t":"set","p":"payload.DataReq.SenderData.ID","pt":"msg","to":"localName","tot":"global"},{"t":"set","p":"payload.DataReq.SenderData.IP","pt":"msg","to":"localIP","tot":"global"},{"t":"set","p":"payload.DataReq.SenderData.TimeStamp","pt":"msg","to":"timestamp","tot":"global"},{"t":"set","p":"payload.DataReq.Data[0].TimeStamp","pt":"msg","to":"timestamp","tot":"global"},{"t":"set","p":"payload.DataReq.Data[0].Type","pt":"msg","to":"GlobalData","tot":"str"},{"t":"set","p":"payload.DataReq.Data[0].FieldName","pt":"msg","to":"globalDataLabel","tot":"global"},{"t":"set","p":"payload.DataReq.Data[0].Data","pt":"msg","to":"globalDataValue","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":580,"wires":[["1bff4969.c42b07","58f45200.28d1d8"]]},{"id":"1bff4969.c42b07","type":"debug","z":"a6cc1b7b.0374","name":"Print DataReq","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1460,"y":500,"wires":[]},{"id":"8d1c726c.83745","type":"ui_text_input","z":"f938eca2.765108","name":"Argument","label":"Optional Argument","tooltip":"","group":"41b82ca6.cc0a1c","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1500,"y":560,"wires":[["9ae8f42c.417698"]]},{"id":"9ae8f42c.417698","type":"change","z":"f938eca2.765108","name":"","rules":[{"t":"set","p":"functionArgument","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":560,"wires":[[]]},{"id":"53e74082.889f38","type":"function","z":"f938eca2.765108","name":"Empty arguments if function changed.","func":"if (msg.payload != global.get(\"selectedFunctionPrevious\")) {\n    global.set(\"selectedFunctionPrevious\", msg.payload);\n    msg.payload = \"\";\n}\nelse {\n    msg.payload = global.get(\"functionArgument\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":560,"wires":[["8d1c726c.83745"]]},{"id":"6d9b47f7.1a3cd","type":"function","z":"f938eca2.765108","name":"Default if empty","func":"msg.payload = msg.payload != \"\" ? msg.payload : \"127.0.0.1\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["33e0e63.2abd41a"]]},{"id":"5931f157.f334c","type":"function","z":"f938eca2.765108","name":"Default if empty","func":"msg.payload = msg.payload != \"\" ? msg.payload : \"127.0.0.1\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["49e7a2d.92a795c"]]},{"id":"e1e8e1fe.1816c8","type":"comment","z":"a6cc1b7b.0374","name":"Receiving","info":"","x":120,"y":80,"wires":[]},{"id":"e6524e78.a40cd","type":"comment","z":"a6cc1b7b.0374","name":"Sending","info":"","x":120,"y":340,"wires":[]},{"id":"401b0ed.0e4d87","type":"comment","z":"a6cc1b7b.0374","name":"Encode JSON to protobuf and send to Data Hub.","info":"","x":1560,"y":780,"wires":[]},{"id":"a3f6e02f.b36e5","type":"comment","z":"f938eca2.765108","name":"Modify JSON in this node to setup the list of available actors with their functions.","info":"","x":340,"y":420,"wires":[]},{"id":"b39d910b.3c79d","type":"inject","z":"f938eca2.765108","name":"Empty trigger","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":140,"y":240,"wires":[["5931f157.f334c","6d9b47f7.1a3cd"]]},{"id":"772efd47.c32754","type":"function","z":"a6cc1b7b.0374","name":"Set connection label","func":"var numberOfEngines = global.get(\"editors\").length;\nmsg.payload = \"Connected. \";\nmsg.payload += numberOfEngines;\nmsg.payload += numberOfEngines == 1 ? \" engine.\" : \" engines.\";\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":100,"wires":[["93e33a59.65ec98"]]},{"id":"f05551f.79f1f3","type":"encode","z":"67ad19d0.ff6528","name":"","protofile":"7c48428c.c6ab5c","protoType":"UnionRequest","x":390,"y":80,"wires":[["9985f08e.3e06a8"]]},{"id":"58f45200.28d1d8","type":"encode","z":"a6cc1b7b.0374","name":"","protofile":"7c48428c.c6ab5c","protoType":"UnionRequest","x":1440,"y":820,"wires":[["b0bfc4df.40ed6"]]},{"id":"25446a.9d92c396","type":"decode","z":"a6cc1b7b.0374","name":"","protofile":"7c48428c.c6ab5c","protoType":"UnionRequest","x":280,"y":120,"wires":[["6a68d01b.46f0b8","40da33b5.e9f544"]]}]